.vs/
Server/obj/Debug/netcoreapp3.1/Server.csprojAssemblyReference.cache 
Teacher/App.config 
Teacher/Teacher.csproj 
Teacher/bin/Debug/Teacher.exe 
Teacher/bin/Debug/Teacher.exe.config 
Teacher/bin/Debug/Teacher.pdb 
Teacher/obj/Debug/App.baml 
Teacher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache 
Teacher/obj/Debug/MainWindow.baml 
Teacher/obj/Debug/Teacher.csproj.CoreCompileInputs.cache 
Teacher/obj/Debug/Teacher.csproj.FileListAbsolute.txt 
Teacher/obj/Debug/Teacher.csprojAssemblyReference.cache 
Teacher/obj/Debug/Teacher.exe 
Teacher/obj/Debug/Teacher.g.resources 
Teacher/obj/Debug/Teacher.pdb 
Teacher/obj/Debug/Teacher_MarkupCompile.cache 
Teacher/obj/Debug/Teacher_MarkupCompile.i.cache 
Teacher/packages.config